{
  "extends": "@ali/stylelint-config-ali",
  "rules": {
    "selector-max-id": 0,
    "selector-max-type": 0,
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }]
  }
}
